/* General Styles */
html {
    font-size: 16px;
}

body {
    background-color: #FFF;
    color: #000;
}

@media screen and (min-width: 992px) {
    .main-container {
        width: 30%;
    }
}

/* Title Styles */
#hungerrater-title {
    font-weight: 700;
    font-size: 4.20rem;
}

/* Step 1 Styles */
#step-1 .form-check:hover, #step-1 label:hover {
    cursor: pointer;
}

#step-1 .form-check {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 1px solid #000;
    border-radius: 4.20px;
    display: flex;
    align-items: center;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

#step-1 label {
    margin-top: 1rem;
    margin-bottom: 1rem;
}